Repository ral-facilities/inventory-management-system, pull requests merged in 2024-06, with the labels that each got.

#598 Run yarn upgrade-interactive to manually upgrade missed packages
  package.json
  public/mockServiceWorker.js
  src/catalogue/category/__snapshots__/cataloguePropertiesForm.component.test.tsx.snap
  src/catalogue/category/__snapshots__/cataloguePropertyForm.component.test.tsx.snap
  src/catalogue/items/__snapshots__/catalogueItemsDialog.component.test.tsx.snap
  yarn.lock
Labels: dependencies

#603 Preserved table filters fixes #597
  cypress/e2e/with_mock_data/catalogueItems.cy.ts
  src/catalogue/items/catalogueItemsTable.component.test.tsx
  src/common/preservedTableState.component.test.tsx
  src/common/preservedTableState.component.tsx
  src/mocks/CatalogueItems.json
Labels: bug

#625 Fix systems page splitting onto new line at wrong size #624
  src/systems/systems.component.tsx
Labels: bug

#618 Fix no loading indicator for CC no results #617
  src/catalogue/catalogue.component.tsx
Labels: bug

#642 Fix typos found by spell checker #641
  cypress/e2e/with_mock_data/catalogueCategories.cy.ts
  src/api/api.tsx
  src/api/units.test.tsx
  src/catalogue/category/catalogueCategoryDialog.component.test.tsx
  src/catalogue/category/cataloguePropertiesForm.component.test.tsx
  src/catalogue/items/catalogueItemDirectoryDialog.component.tsx
  src/catalogue/items/catalogueItemsTable.component.tsx
  src/catalogue/items/obsoleteCatalogueItemDialog.component.test.tsx
  src/catalogue/items/obsoleteCatalogueItemDialog.component.tsx
  src/handleIMS_APIError.ts
  src/homePage/__snapshots__/homePage.component.test.tsx.snap
  src/homePage/homePage.component.tsx
  src/manufacturer/manufacturer.component.tsx
  src/parseTokens.test.ts
  src/systems/systemDialog.component.test.tsx
  src/systems/systemDialog.component.tsx
  src/systems/systemItemsTable.component.test.tsx
  src/systems/systemItemsTable.component.tsx
  src/testUtils.tsx
  vite.config.ts
Labels: bug

#666 Fix manufacturer types #664
  src/admin/units/deleteUnitsDialog.component.tsx
  src/admin/usageStatuses/deleteUsageStatusDialog.component.tsx
  src/api/api.tsx
  src/api/api.types.tsx
  src/api/catalogueCategories.tsx
  src/api/catalogueItems.tsx
  src/api/items.tsx
  src/api/manufacturers.test.tsx
  src/api/manufacturers.tsx
  src/api/systems.tsx
  src/app.types.tsx
  src/catalogue/category/catalogueCategoryDialog.component.tsx
  src/catalogue/category/deleteCatalogueCategoryDialog.component.tsx
  src/catalogue/items/catalogueItemsDetailsPanel.component.tsx
  src/catalogue/items/catalogueItemsDialog.component.tsx
  src/catalogue/items/catalogueItemsTable.component.tsx
  src/catalogue/items/deleteCatalogueItemDialog.component.tsx
  src/handleIMS_APIError.ts
  src/manufacturer/deleteManufacturerDialog.component.test.tsx
  src/manufacturer/deleteManufacturerDialog.component.tsx
  src/manufacturer/manufacturer.component.tsx
  src/manufacturer/manufacturerDialog.component.tsx
  src/mocks/handlers.ts
  src/systems/deleteSystemDialog.component.tsx
  src/systems/systemDialog.component.tsx
  src/testUtils.tsx
Labels: After MVP

#675 Rename manufacturer api functions #674
  src/api/api.types.tsx
  src/api/manufacturers.test.tsx
  src/api/manufacturers.tsx
  src/catalogue/items/catalogueItemsDialog.component.tsx
  src/catalogue/items/catalogueItemsLandingPage.component.tsx
  src/catalogue/items/catalogueItemsTable.component.tsx
  src/items/itemsDetailsPanel.component.tsx
  src/items/itemsLandingPage.component.tsx
  src/manufacturer/manufacturer.component.tsx
  src/manufacturer/manufacturerDialog.component.tsx
  src/manufacturer/manufacturerLandingPage.component.tsx
Labels: After MVP

#676 Manufacturers react hook form and zod refactor #663
  cypress/e2e/with_mock_data/manufacturers.cy.ts
  package.json
  src/catalogue/items/catalogueItemsDialog.component.tsx
  src/form.schemas.tsx
  src/manufacturer/manufacturer.component.tsx
  src/manufacturer/manufacturerDialog.component.test.tsx
  src/manufacturer/manufacturerDialog.component.tsx
  src/manufacturer/manufacturerLandingPage.component.tsx
  yarn.lock
Labels: After MVP

#682 fix type interfaces units #681
  src/admin/units/deleteUnitsDialog.component.test.tsx
  src/admin/units/deleteUnitsDialog.component.tsx
  src/admin/units/units.component.tsx
  src/admin/units/unitsDialog.component.tsx
  src/api/api.types.tsx
  src/api/units.test.tsx
  src/api/units.tsx
  src/app.types.tsx
  src/catalogue/category/cataloguePropertyForm.component.tsx
  src/mocks/handlers.ts
Labels: After MVP

#684 Rename unit api functions to include http method #683
  src/admin/units/units.component.tsx
  src/admin/units/unitsDialog.component.tsx
  src/api/units.test.tsx
  src/api/units.tsx
  src/catalogue/category/cataloguePropertyForm.component.tsx
Labels: After MVP

#693 Usage status react hook form and zod refactor #690
  cypress/e2e/with_mock_data/usageStatus.cy.ts
  src/admin/usageStatuses/usageStatusDialog.component.test.tsx
  src/admin/usageStatuses/usageStatusDialog.component.tsx
  src/form.schemas.tsx
Labels: After MVP

#697 fix systems type interfaces # 694
  src/admin/admin.component.tsx
  src/api/api.types.tsx
  src/api/catalogueCategories.tsx
  src/api/items.test.tsx
  src/api/systems.test.tsx
  src/api/systems.tsx
  src/app.types.tsx
  src/catalogue/category/cataloguePropertyForm.component.tsx
  src/catalogue/items/catalogueItemsLandingPage.component.tsx
  src/items/items.component.tsx
  src/items/itemsLandingPage.component.tsx
  src/items/itemsTable.component.tsx
  src/manufacturer/manufacturerLandingPage.component.tsx
  src/mocks/handlers.ts
  src/systems/deleteSystemDialog.component.test.tsx
  src/systems/deleteSystemDialog.component.tsx
  src/systems/systemDetails.component.test.tsx
  src/systems/systemDetails.component.tsx
  src/systems/systemDialog.component.test.tsx
  src/systems/systemDialog.component.tsx
  src/systems/systemDirectoryDialog.component.test.tsx
  src/systems/systemDirectoryDialog.component.tsx
  src/systems/systemItemsTable.component.test.tsx
  src/systems/systemItemsTable.component.tsx
  src/systems/systems.component.tsx
  src/systems/systemsTableView.component.test.tsx
  src/systems/systemsTableView.component.tsx
  src/view/breadcrumbs.component.tsx
Labels: After MVP

#698 Rename systems API functions #695
  src/api/api.types.tsx
  src/api/items.test.tsx
  src/api/systems.test.tsx
  src/api/systems.tsx
  src/items/deleteItemDialog.component.tsx
  src/items/itemDialog.component.tsx
  src/items/itemsDetailsPanel.component.tsx
  src/items/itemsLandingPage.component.tsx
  src/items/itemsTable.component.tsx
  src/systems/systemDetails.component.tsx
  src/systems/systemDialog.component.tsx
  src/systems/systemDirectoryDialog.component.tsx
  src/systems/systemItemsDialog.component.tsx
  src/systems/systems.component.tsx
Labels: After MVP

#700 Systems dialog rhf and zod refactor #696
  cypress/e2e/with_mock_data/systems.cy.ts
  src/form.schemas.tsx
  src/manufacturer/manufacturerDialog.component.tsx
  src/systems/__snapshots__/systemDialog.component.test.tsx.snap
  src/systems/systemDetails.component.tsx
  src/systems/systemDialog.component.test.tsx
  src/systems/systemDialog.component.tsx
  src/systems/systems.component.tsx
  src/systems/systemsTableView.component.tsx
Labels: After MVP
