Repository ral-facilities/inventory-management-system, pull requests merged in 2024-08, with the labels that each got.

#866 Rename save as to duplicate #738
  cypress/e2e/with_api/catalogueCategories/catalogueCategories.cy.ts
  cypress/e2e/with_api/catalogueCategories/functions.ts
  cypress/e2e/with_api/catalogueItems/catelogueItems.cy.ts
  cypress/e2e/with_api/catalogueItems/functions.ts
  cypress/e2e/with_api/items/functions.ts
  cypress/e2e/with_api/items/items.cy.ts
  cypress/e2e/with_api/systems/functions.ts
  cypress/e2e/with_api/systems/systems.cy.ts
  cypress/e2e/with_mock_data/catalogueCategories.cy.ts
  cypress/e2e/with_mock_data/catalogueItems.cy.ts
  cypress/e2e/with_mock_data/items.cy.ts
  cypress/e2e/with_mock_data/systems.cy.ts
  src/catalogue/catalogue.component.test.tsx
  src/catalogue/catalogue.component.tsx
  src/catalogue/category/catalogueCard.component.test.tsx
  src/catalogue/category/catalogueCard.component.tsx
  src/catalogue/category/catalogueCardView.component.test.tsx
  src/catalogue/category/catalogueCardView.component.tsx
  src/catalogue/category/catalogueCategoryDialog.component.test.tsx
  src/catalogue/category/catalogueCategoryDialog.component.tsx
  src/catalogue/category/catalogueCategoryTableView.component.tsx
  src/catalogue/items/catalogueItemDirectoryDialog.component.test.tsx
  src/catalogue/items/catalogueItemsDialog.component.tsx
  src/catalogue/items/catalogueItemsTable.component.test.tsx
  src/catalogue/items/catalogueItemsTable.component.tsx
  src/items/itemDialog.component.test.tsx
  src/items/itemDialog.component.tsx
  src/items/itemsLandingPage.component.test.tsx
  src/items/itemsTable.component.test.tsx
  src/items/itemsTable.component.tsx
  src/systems/systemDialog.component.test.tsx
  src/systems/systemDialog.component.tsx
  src/systems/systems.component.test.tsx
  src/systems/systems.component.tsx
Labels: enhancement

#885 Update dependency axios to v1.7.4 [SECURITY]
  package.json
  yarn.lock
Labels: security

#889 Feature/test feature
  .github/labeler.yml
  .github/workflows/pr-title.yml
Labels: feature
