Repository ral-facilities/inventory-management-system, pull requests merged in 2024-10, with the labels that each got.

#1021 Redesign landing page items #1019
  cypress/e2e/with_api/items/functions.ts
  cypress/e2e/with_mock_data/catalogueCategories.cy.ts
  cypress/e2e/with_mock_data/items.cy.ts
  src/catalogue/category/catalogueCard.component.test.tsx
  src/common/__snapshots__/placeholderImage.component.test.tsx.snap
  src/common/placeholderImage.component.test.tsx
  src/common/placeholderImage.component.tsx
  src/common/tabPanel.component.test.tsx
  src/common/tabPanel.component.tsx
  src/items/__snapshots__/itemsDetailsPanel.component.test.tsx.snap
  src/items/itemsDetailsPanel.component.tsx
  src/items/itemsLandingPage.component.test.tsx
  src/items/itemsLandingPage.component.tsx
  src/view/viewTabs.component.tsx
Labels: enhancement

#1023 Redesign landing page catalogue items #1022
  cypress/e2e/with_api/catalogueItems/functions.ts
  cypress/e2e/with_mock_data/catalogueItems.cy.ts
  src/admin/usageStatuses/__snapshots__/usageStatuses.component.test.tsx.snap
  src/admin/usageStatuses/usageStatuses.component.test.tsx
  src/catalogue/items/__snapshots__/catalogueItemsDetailsPanel.component.test.tsx.snap
  src/catalogue/items/catalogueItemsDetailsPanel.component.tsx
  src/catalogue/items/catalogueItemsLandingPage.component.test.tsx
  src/catalogue/items/catalogueItemsLandingPage.component.tsx
  src/common/__snapshots__/placeholderImage.component.test.tsx.snap
  src/common/actionMenu.component.test.tsx
  src/common/actionMenu.component.tsx
  src/common/placeholderImage.component.test.tsx
  src/common/placeholderImage.component.tsx
  src/common/tab/__snapshots__/tabView.component.test.tsx.snap
  src/common/tab/tab.utils.test.tsx
  src/common/tab/tab.utils.tsx
  src/common/tab/tabPanel.component.test.tsx
  src/common/tab/tabPanel.component.tsx
  src/common/tab/tabView.component.test.tsx
  src/common/tab/tabView.component.tsx
  src/items/__snapshots__/itemsDetailsPanel.component.test.tsx.snap
  src/items/itemsDetailsPanel.component.tsx
  src/items/itemsLandingPage.component.tsx
  src/view/viewTabs.component.tsx
Labels: enhancement

#1025 redesign landing page systems #1024
  cypress/e2e/with_api/catalogueItems/functions.ts
  cypress/e2e/with_mock_data/systems.cy.ts
  src/catalogue/items/catalogueItemsLandingPage.component.tsx
  src/common/actionMenu.component.tsx
  src/common/tab/__snapshots__/tabView.component.test.tsx.snap
  src/common/tab/tabPanel.component.tsx
  src/common/tab/tabView.component.test.tsx
  src/common/tab/tabView.component.tsx
  src/common/tabPanel.component.test.tsx
  src/common/tabPanel.component.tsx
  src/items/itemsLandingPage.component.tsx
  src/systems/systemDetails.component.test.tsx
  src/systems/systemDetails.component.tsx
  src/systems/systems.component.test.tsx
  src/systems/systems.component.tsx
Labels: enhancement

#1092 Fix days to rework in catalogue items table #1091
  package.json
  src/catalogue/items/catalogueItemsTable.component.tsx
Labels: bug

#1094 Update rollup to v4.22.5
  yarn.lock
Labels: dependencies

#1028 Upload attachments #1026
  Dockerfile.prod
  cypress/e2e/with_mock_data/items.cy.ts
  cypress/fixtures/documents/test1.txt
  cypress/fixtures/documents/test2.txt
  docker/docker-entrypoint.sh
  package.json
  public/inventory-management-system-settings.example.json
  public/mockServiceWorker.js
  server/e2e-settings-with-api.json
  server/e2e-settings.json
  src/App.tsx
  src/api/api.tsx
  src/api/api.types.tsx
  src/api/attachments.test.tsx
  src/api/attachments.tsx
  src/api/catalogueCategories.test.tsx
  src/api/catalogueItems.test.tsx
  src/api/items.test.tsx
  src/api/manufacturers.test.tsx
  src/api/systems.test.tsx
  src/api/units.test.tsx
  src/api/usageStatuses.test.tsx
  src/catalogue/items/catalogueItemsLandingPage.component.tsx
  src/common/actionMenu.component.test.tsx
  src/common/actionMenu.component.tsx
  src/common/attachments/__snapshots__/uploadAttachmentsDialog.component.test.tsx.snap
  src/common/attachments/uploadAttachmentsDialog.component.test.tsx
  src/common/attachments/uploadAttachmentsDialog.component.tsx
  src/common/uppy.utils.tsx
  src/configProvider.component.test.tsx
  src/configProvider.component.tsx
  src/items/itemsLandingPage.component.tsx
  src/main.tsx
  src/mocks/handlers.ts
  src/settings.ts
  src/setupTests.ts
  src/systems/systemDetails.component.tsx
  src/utils.test.tsx
  src/utils.tsx
  vite.config.ts
  yarn.lock
Labels: feature
