Repository ral-facilities/inventory-management-system, pull requests merged in 2024-09, with the labels that each got.

#718 Fix type interfaces for catalogue categories #710
  src/api/api.types.tsx
Labels: After MVP

#817 Apply changes from OG Vite migration
  README.md
  index.html
  src/main.tsx
  vite.config.ts
Labels: enhancement

#961 Update lockfile after package update broke it
  yarn.lock
Labels: bug, dependencies

#935 Apply changes from OG eslint v9 upgrade
  cypress/support/commands.ts
  eslint.config.js
  package.json
  public/manifest.json
  public/mockServiceWorker.js
  src/logo.svg
  src/mocks/browser.ts
  yarn.lock
Labels: enhancement, dependencies
