Repository ral-facilities/inventory-management-system, pull requests merged in 2025-01, with the labels that each got.

#1155 nested routes for Manufacturers #1154
  src/App.tsx
  src/common/__snapshots__/errorPage.component.test.tsx.snap
  src/common/errorPage.component.test.tsx
  src/common/errorPage.component.tsx
  src/manufacturer/__snapshots__/manufacturer.component.test.tsx.snap
  src/manufacturer/__snapshots__/manufacturerTable.component.test.tsx.snap
  src/manufacturer/manufacturerLandingPage.component.test.tsx
  src/manufacturer/manufacturerLandingPage.component.tsx
  src/manufacturer/manufacturerLayout.component.test.tsx
  src/manufacturer/manufacturerLayout.component.tsx
  src/manufacturer/manufacturerTable.component.test.tsx
  src/manufacturer/manufacturerTable.component.tsx
Labels: low priority

#1228 Handle 404 errors with React Router for manufacturers
  cypress/e2e/with_mock_data/manufacturers.cy.ts
  src/App.tsx
  src/api/manufacturers.tsx
  src/app.types.tsx
  src/common/baseLayoutHeader.component.tsx
  src/manufacturer/__snapshots__/manufacturerLayout.component.test.tsx.snap
  src/manufacturer/manufacturerLandingPage.component.test.tsx
  src/manufacturer/manufacturerLandingPage.component.tsx
  src/manufacturer/manufacturerLayout.component.test.tsx
  src/manufacturer/manufacturerLayout.component.tsx
  src/mocks/handlers.ts
Labels: low priority

#1212 nested routes for admin page #1211
  src/App.tsx
  src/admin/__snapshots__/adminCardView.component.test.tsx.snap
  src/admin/__snapshots__/adminLayout.component.test.tsx.snap
  src/admin/admin.component.test.tsx
  src/admin/admin.component.tsx
  src/admin/adminCardView.component.test.tsx
  src/admin/adminCardView.component.tsx
  src/admin/adminLayout.component.test.tsx
  src/admin/adminLayout.component.tsx
  src/admin/units/__snapshots__/units.component.test.tsx.snap
  src/admin/units/units.component.test.tsx
Labels: low priority

#1217 nested routes for systems #1213
  cypress/e2e/with_api/systems/functions.ts
  cypress/e2e/with_api/systems/systems.cy.ts
  cypress/e2e/with_mock_data/systems.cy.ts
  src/App.tsx
  src/systems/__snapshots__/systemsLayout.component.test.tsx.snap
  src/systems/systems.component.test.tsx
  src/systems/systems.component.tsx
  src/systems/systemsLayout.component.test.tsx
  src/systems/systemsLayout.component.tsx
Labels: low priority

#1231 Handle 404 errors with react router systems
  cypress/e2e/with_mock_data/systems.cy.ts
  src/App.tsx
  src/api/systems.tsx
  src/systems/__snapshots__/systemsLayout.component.test.tsx.snap
  src/systems/systemDetails.component.test.tsx
  src/systems/systemDetails.component.tsx
  src/systems/systemsLayout.component.test.tsx
  src/systems/systemsLayout.component.tsx
Labels: low priority

#1236 Remove uuid package that is no longer used #1235
  package.json
  src/testUtils.tsx
  yarn.lock
Labels: dependencies

#1152 Uppy refresh token logic
  src/api/api.tsx
  src/common/images/uploadImagesDialog.component.tsx
Labels: high priority
